.light td {
  background-color: #ffffff;
}

.dark td {
  background-color: var(--dark-bg-100);
}

.editButtonWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 10px;
}

/* .editButtonСell {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.buttonSvg {
  width: 24px;
  height: 24px;
  fill: #6c757d;
  transition: all 0.3s;
}

.deleteSvg:hover {
  fill: #dc3545;
}

.downloadSvg:hover {
  fill: #0d6efd;
}

.editSvg:hover {
  fill: #ffc107;
}

.groupItem {
  display: block;
}

.activateSvg:hover {
  fill: #198754;
}
